<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTMS - Logowanie</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div style="display: flex; flex-direction: column; width: 100%; height: 60vh; justify-content: center; align-items: center;">
        <h2>Logowanie WTMS </h2>

        <br>
        
        <% if (errorMessage) { %>
            <p style="color: red;"><%= errorMessage %></p>
        <% } %>
        
        <div style="display: flex; flex-direction: column; min-width: 350px;">
            <form action="/login" method="POST">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <label for="username">Nazwa użytkownika</label>
                    <input class="form-control" style="width: 100%; margin-top: 10px;" type="text" id="username" name="username" required>
                </div>
                  
                <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
                    <label for="password">Hasło</label>
                    <input class="form-control" style="width: 100%; margin-top: 10px;" type="password" id="password" name="password" required>
                </div>
        
                <br><br>
                
                <div style=" display: flex; flex-direction: row; justify-content: center;">
                    <button class="btn btn-dark" type="submit">Zaloguj się</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>