<nav>
    <ul style="display: flex; flex-direction: row; justify-content: space-between; width: 30vw;">
        <li><a href="/admin/addUser">Dodaj użytkownika</a></li>
        <li><a href="/admin/manageUsers">Edytuj użytkownika</a></li>
        <li><a href="/admin/manageShifts">Zarządzaj zmianami</a></li>
        <li><a href="/logout">Wyloguj się</a></li>
    </ul>
</nav>
<hr>