<nav>
    <ul style="display: flex; flex-direction: row; justify-content: space-between; width: 35vw;">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/manage-shift">Status pracy</a></li>
        <li><a href="/shifts">Godziny pracy</a></li>
        <li><a href="/calculate-salary">Kalkulacja wynagrodzenia</a></li>
        <li><a href="/logout">Wyloguj się</a></li>
    </ul>
</nav>
<hr>