<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; justify-content: space-between; width: 35vw; margin-left: 20px;">
        <li class="nav-item active"><a class="nav-link" href="/">Strona główna</a></li>
        <li class="nav-item active"><a class="nav-link" href="/manage-shift">Status pracy</a></li>
        <li class="nav-item active"><a class="nav-link" href="/shifts">Godziny pracy</a></li>
        <li class="nav-item active"><a class="nav-link" href="/calculate-salary">Kalkulacja wynagrodzenia</a></li>
        <li class="nav-item active"><a class="nav-link" href="/logout">Wyloguj się</a></li>
    </ul>
</nav>
<hr>