<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pl">
<head>
    
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <%- include('../Partial/adminNavbar')%>
    
    <h2>Witaj w panelu administratora</h2>

</body>
</html>